<app-toolbar title="Plant details">
  <button
    mat-stroked-button
    type="button"
    class="margin-left"
    tooltip="Back to overview"
    routerLink="/"
  >
    <span>Back to overview</span>
  </button>
</app-toolbar>

<app-overlay *ngIf="loading">
  <mat-progress-spinner
    diameter="25"
    mode="indeterminate"
    color="primary"
    strokeWidth="2"
  >
  </mat-progress-spinner>
</app-overlay>

<div class="wrapper">
  <app-expandable label="Add new plant" [isExpandable]="true" [expanded]="true">
    <app-plant-form
      (plantChanged)="onPlantDataChanged($event)"
      [disabled]="false"
    ></app-plant-form>
  </app-expandable>
</div>
