:host {
  background-color: #e6e6e6 !important;
  width: 100%;
  position: fixed;
  z-index: 999;
  top: 0;
  max-height: 50px;
  min-height: 50px;
  height: 50px;
  border-bottom: 1px solid #ced2d5;
}

.mat-toolbar {
  background-color: unset;
  color: unset;
}

.spacer {
  flex: 1 1 auto;
}

.mat-toolbar-row,
.mat-toolbar-single-row {
  height: 50px;
}
