<div class="header">
  <div class="header-row">
    <label class="col-name" *ngIf="internalColumnConfig.name">Name</label>
    <label
      class="col-times-to-water"
      *ngIf="internalColumnConfig.timesToWater"
      >Times to water</label
    >
    <label class="col-is-indoor" *ngIf="internalColumnConfig.indoor"
      >Indoor plant</label
    >
  </div>
</div>
<div class="body">
  <div
    class="row"
    *ngFor="let plant of plants"
    (click)="onRowClick(plant.id)"
  >
    <label class="col-name" *ngIf="internalColumnConfig.name">{{
      valueTransformerPipe.transform(plant.name)
    }}</label>
    <label class="col-times-to-water" *ngIf="internalColumnConfig.timesToWater">{{
      valueTransformerPipe.transform(plant.timesToWater)
    }}</label>
    <label class="col-indoor" *ngIf="internalColumnConfig.indoor">{{
      valueTransformerPipe.transform(plant.indoor)
    }}</label>
  </div>
</div>
