<app-toolbar title="Plant details">
  <button
    class="delete-button"
    mat-stroked-button
    i18n-text
    (click)="onPlantDeleteClick()"
    color="warn"
  >
    <span>Delete plant</span>
  </button>
  <button
    *ngIf="disabled"
    mat-stroked-button
    type="button"
    class="margin-left"
    tooltip="Edit plant"
    (click)="enableEdit()"
  >
    <span>Edit plant</span>
  </button>
  <button
    mat-stroked-button
    type="button"
    class="stroked-button margin-left"
    tooltip="Back to overview"
    routerLink="/"
  >
    <span>Back to overview</span>
  </button>
</app-toolbar>

<app-overlay *ngIf="loading">
  <mat-progress-spinner
    diameter="25"
    mode="indeterminate"
    color="primary"
    strokeWidth="2"
  >
  </mat-progress-spinner>
</app-overlay>

<div class="wrapper">
  <app-expandable label="Edit plant" [isExpandable]="true" [expanded]="true">
    <app-plant-form
      (plantChanged)="onPlantDataChanged($event)"
      [disabled]="disabled"
      [formData]="plant"
    ></app-plant-form>
  </app-expandable>
</div>
