.title {
  font-size: 22px;
  font-weight: 900;
}

.subtitle {
  margin-left: 15px;
  font-size: 22px;
  color: var(--ct-font-color-variant-or-disabled-buttons);
}

.fill-remaining-space {
  flex: 1;
  float: right;
  text-align: right;
}

.toolbar-wrapper {
  display: flex;
  padding: 15px;
  background-color: var(--ct-background-variant-color);
  border-bottom: 1px solid var(--ct-primary-border-color);
  height: 41px;
  align-items: center;
}
