<form [formGroup]="formGroup">
  <div class="container__row">
    <app-input class="container__col-12" label="Name" formControlName="name">
    </app-input>
  </div>
  <div class="container__row">
    <app-input
      class="container__col-12"
      label="Times to water"
      formControlName="timesToWater"
    >
    </app-input>
  </div>
  <div class="container__row">
    <app-checkbox
      class="ml-10 container__col-12"
      label="Is indoor plant"
      [value]="isIndoor"
      formControlName="indoor"
    ></app-checkbox>
  </div>
</form>
