<app-toolbar title="Plants">
  <button
    mat-stroked-button
    type="button"
    tooltip="Add new plant"
    routerLink="/plant/add"
  >
    <span>Add new plant</span>
  </button>
</app-toolbar>
<app-plant-list
  [plants]="plants"
  (rowClicked)="onPlantSelected($event)"
></app-plant-list>
<app-overlay *ngIf="loading">
  <mat-progress-spinner
    diameter="25"
    mode="indeterminate"
    color="primary"
    strokeWidth="2"
  >
  </mat-progress-spinner>
</app-overlay>
